@{
    ViewBag.Title = "Student Grades";
}

@model Code-a-thon21.ViewModels.GradesViewModel

<html>
<head>
    <meta charset="utf-8" />
    <title>Student Grade</title>
</head>
<body>
    <h2>Grades for @@db.Student.Name</h2>
    <h2>Final Grade: @@do math here</h2>
    <table>
    </table>
</body>
</html>